
[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn -c gunicorn_config.py Backend.app:app"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3